div .searchform { 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

div .searchform input {
    height: 25px;
    padding: 5px;
}

div .searchform button {
    width: 200px;
    height: 25px;
    margin: 15px 0;
}

div .searchform .show {
    color: red;
    font-weight: bold;
}

div .searchform .dontshow {
    overflow: hidden;
    display: none;
}

div .dont-show-response {
    display: none;
}