div .searchform { 
    display: flex;
    width: 230px;

    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

div .searchform input {
    height: 40px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px 0 0 15px;
}

div .searchform button {
    width: 50px;
    height: 40px;

    border: 1px solid #1179A0;
    background-color: #1179A0;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: 0.4s;
}

div .searchform button:hover {
    background-color: rgb(19, 150, 226);
}

div .div-span {
    width: 100%;
    display: flex;
    margin-top: 10px;
    position: absolute;

    left: 0;
}

div .show {
    color: red;
    font-weight: bold;

    margin: 0 auto;
}

div .dontshow {
    overflow: hidden;
    display: none;
}

div .dont-show-response {
    display: none;
}

.show-response {
    display: flex;
    position: absolute;
    justify-content: center;

    align-items: center;

    width: 300px;
    height: 350px;

    background-color: white;
    bottom: -1px;
    left: -1px;
}

.show-response .result-form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    width: 100%;
    height: 100%;    
}

.show-response .result-form .log-input {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 25px;
    margin: 0 auto;

    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

.show-response .result-form .num-input {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 25px;
    margin: 0 auto;

    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

.show-response .result-form .comp-input {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 25px;
    margin: 0 auto;

    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

.show-response .result-form .dual-input {
    display: flex;
    width: 98%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.show-response .result-form .uf-input {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 25px;
    margin: 0 auto;

    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

.show-response .result-form .city-input {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 25px;
    margin: 0 auto;

    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

.show-response .result-form .bairro-input {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 25px;
    margin: 0 auto;

    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

.show-response .result-form .cep-input {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    height: 25px;
    margin: 0 auto;
    font-size: 10;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px;
}

